@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    background: white !important;
  }
  .printable-recipe {
    display: block !important;
  }
  nav,
  header,
  footer,
  button,
  .no-print {
    display: none !important;
  }
}

.btn-primary {
  @apply inline-block px-4 py-2 rounded text-white
  bg-brand-primary transition-all duration-300 font-heading;
}

.btn-primary:hover {
  @apply bg-[#D65A4A];
}

.btn-primary:focus {
  @apply outline-none ring-2 ring-brand-primary ring-opacity-50;
}

.btn-primary:disabled {
  @apply opacity-50 cursor-not-allowed;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: auto !important;
  margin: 0;
}
